/* GLOBAL */

:root {
    --blue-soft: hsl(203, 52%, 82%);
    --blue-dark: hsl(203, 32%, 51%);
    --sidebar-bg: hsl(222, 12%, 41%);
    --chat-bg: hsl(0, 0%, 91%);
    --input-bg: hsl(0, 0%, 85%);
    --send-button: hsl(203, 30%, 40%);
    --button-bg: hsl(220, 12%, 30%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --fs-20: 1.25rem;
    --fs-18: 1.125rem;
    --fs-16: 1rem;
    --fs-13: 0.8125rem;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Hind Siliguri", sans-serif;
    background-color: var(--blue-soft);
    margin: 0;
    height: 105vh;
}

@media (min-width: 45rem) {
    body {
        height: 100vh;
    }
}

h1, h2 {
    margin-block-start: 0;
}

h1, h2, label, p {
    line-height: 1;
    margin: 0;
}

a {
    text-decoration: none;
}

/* LOGIN STYLING */
.wrapper-login {
    background-color: var(--white);
    width: 20rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 1.875rem 2.81rem;
}

.wrapper-login h1 {
    font-size: var(--fs-20);
    text-align: center;
    margin: 0;
    font-weight: 700;
}

.wrapper-login form {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wrapper-login form label {
    font-size: var(--fs-16);
    font-weight: 500;
}

.wrapper-login form input {
    border-radius: 18px;
    border: none;
    height: 2.6rem;
    padding: 0 1.375rem;
    background-color: var(--input-bg);
    outline: none;
}

.wrapper-login form label:last-of-type {
    margin-top: 0.625rem;
}

.wrapper-login button {
    margin-top: 0.625rem;
    background-color: var(--button-bg);
    font-size: var(--fs-13);
    font-weight: 700;
    color: var(--white);
    height: 2.625rem;
    border-radius: 18px;
    border: none;
    cursor: pointer;
}

.wrapper-login p {
    margin-top: 1.25rem;
    font-size: var(--fs-16);
    font-weight: 400;
    text-align: center;
    color: var(--black);
}

.create-account-link, .login-account-link {
    color: var(--black);
    font-weight: 700;
}

/* 720px */
@media (min-width: 45rem) {
    .wrapper-login {
        width: 43.75rem;
        padding: 3.125rem 4rem;
    }

    .wrapper-login form {
        margin-top: 50px;
    }

    .wrapper-login form label:last-of-type, .wrapper-login button {
        margin-top: 1.25rem;
    }

    .wrapper-login p {
        margin-top: 1.875rem;
    }
}